.dialogStyles {
  width: 31.25rem;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  padding: 1rem 1.25rem 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.dialogCloseButtonStyles {
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  align-self: flex-end;
}
