@import "../../common/variables";
@import "../../common/commonStylesheet.scss";

.tasklist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    margin-top: 6rem;
    max-width: 80vw;
    display: flex;
  }
  .message {
    margin-top: 10rem;
    width: 70vw;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    color: $color-blue;
    height: 80vh;
  }
  // margin-right: 10%;

  &_side-bar {
    height: 100vh;
    min-width: 23rem;
    overflow-y: scroll;
    .task-basic {
      width: 22rem;
      height: 10rem;
      margin-bottom: 1rem;
      border-left: $border-left;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      background-color: $color-white;
      @include flexCenter(row);
      &_leftpart {
        width: 17rem;
        height: 8rem;
        margin-left: 0.5rem;
        @include flexCenter(column);
        padding: 0.5rem;
        border-bottom: $border-bottom;
        &_title {
          // font-size: 1.2rem;
          margin-bottom: 1rem;
        }
        p {
          color: $paragraph-color;
          font-size: 0.9rem;
          padding-bottom: 0.5rem;
        }
      }
      &.current-task {
        border-bottom: 1px solid rgba(2, 165, 209, 0.5);
        border-right: 1px solid rgba(2, 165, 209, 0.5);
        border-top: 1px solid rgba(2, 165, 209, 0.5);

        box-shadow: 0 0 1px 1px rgba(2, 165, 209, 0.29);
      }
      &_rightpart {
        width: 4rem;
        height: 8rem;
        @include flexCenter(column);
        border-bottom: $border-bottom;
        padding: 1rem;
        &_price {
          font-size: 1.5rem;
          text-align: center;
          padding-bottom: 0.5rem;
        }
        img {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
        }
      }
      &_status {
        padding: 0.5rem;
      }
    }
  }
  &_task-detail {
    overflow-y: scroll;
    background-color: $color-white;
    .status {
      margin-top: 2rem;
      span {
        text-transform: uppercase;
        margin: 2rem;
        padding: 0.5rem 1rem;
        // padding-left:
        // padding-right:
        border-radius: 1rem;
        color: $color-light-grey;
      }
      .current-status {
        background-color: $color-light-green;
      }
    }

    .taskinfo {
      width: 50rem;
      height: auto;
      @include flexCenter(row);
      padding: 1rem;

      &_detail {
        padding: 2rem;
        width: 70%;
        height: 80%;
        @include flexCenter(column);
        h2 {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
        > img {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          margin-bottom: 2rem;
        }
        &_postername {
          font-size: 1.5rem;
          color: $namecolor;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
        }
        &_viewmap {
          position: static;
          height: 2rem;
          width: 6rem;
          margin-left: 22rem;
          background-color: rgb(247, 248, 253);
          outline: none;
          cursor: pointer;
          border: none;
          color: rgb(119, 176, 201);
          &:hover {
            border-bottom: 2px solid orange;
          }
        }

        &_remote {
          margin-bottom: 1rem;
        }

        &_location {
          padding-bottom: 1rem;
          color: $paragraph-color;
          font-size: 1.5rem;
        }

        p:last-child {
          margin-top: 1rem;
          font-size: 1.2rem;
          color: $paragraph-color;
        }
      }
      &_taskpart {
        width: 30%;
        height: 100%;
        @include flexCenter(column);

        &_taskbudget {
          border: 1px lightgray solid;
          border-radius: $border-radius;
          padding-bottom: 1rem;
          width: 100%;
          height: 70%;
          @include flexCenter(column);
          align-items: center;
          text-align: center;
          &_title {
            padding: 1rem;
          }
          &_cost {
            font-size: 2rem;
          }
          &_makeoffer {
            @include button(13rem, 3rem, 0, 0);

            margin-top: 2rem;
          }
          &_waitoffer {
            @include button(13rem, 3rem, 0, 0);
            background-color: $color-light-bluish-grey;
            color: $color-dark-grey;
            margin-top: 2rem;
            cursor: unset;
          }
        }

        .task-options {
          margin: 1rem 0;

          &_title {
            padding: 5px;
            border: 1px lightgray solid;
            border-radius: $border-radius;
            cursor: pointer;
          }

          &_dropdown {
            border: 1px lightgray solid;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            .option {
              padding: 5px;
              border-top: 1px lightgray solid;
              &:hover {
                cursor: pointer;
                background-color: $color-white;
              }
              &::selection {
                background-color: transparent;
              }
            }
          }
        }

        &_share_box {
          @include flexCenter(row);
          justify-content: center;
          .sharemedia {
            height: 4rem;
            width: 4rem;
          }
        }
      }
      .detail {
        font-size: 1.2rem;
      }
    }
  }
  .offer {
    padding: 1rem;
    width: 100%;
    height: auto;
    @include flexCenter(column);
    border-bottom: $border-bottom;
    &_title {
      font-size: 1.5rem;
    }
    &_button {
      @include button(10rem, 2rem, auto, 0);
      margin-top: 2rem;
      margin-right: auto;
    }
  }
  .question {
    padding: 1rem;
    width: 100%;
    height: auto;
    @include flexCenter(column);
    &_title {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &_avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    &_form {
      width: 40rem;

      &_input {
        width: 40rem;
        height: 10rem;
        margin-top: 1rem;
      }

      &_submit {
        float: right;
        color: white;
        background-color: rgb(136, 178, 80);
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 3rem;
        margin-top: 1rem;
      }
    }
  }

  .offertitle1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(119, 176, 201);
  }
  .offertitle2 {
    text-align: center;
    font-weight: 500;
  }

  .form_offer {
    height: 5rem;
    width: 8rem;
    margin-left: 10rem;
    .form_input {
      height: 5rem;
      width: 8rem;
    }
  }

  .offerul {
    margin-bottom: 1rem;
    .offerli {
      margin-bottom: 0.5rem;
    }
  }

  .offerdetail {
    margin-top: 1rem;
  }

  .reason_form {
    height: 10rem;
    .reasonform_input {
      height: 8rem;
    }
  }

  .submitoffer {
    height: 2rem;
    width: 8rem;
    border-radius: 3rem;
    float: right;
    color: white;
    background-color: rgb(136, 178, 80);
    outline: none;
    cursor: pointer;
    border: none;
  }

  .remote {
    &::after {
      content: " ";
      margin-left: 3px;
      --borderWidth: 3px;
      --height: 16px;
      --width: 10px;
      --borderColor: #78b13f;

      display: inline-block;
      transform: rotate(45deg);
      height: var(--height);
      width: var(--width);
      border-bottom: var(--borderWidth) solid var(--borderColor);
      border-right: var(--borderWidth) solid var(--borderColor);
    }
  }
}

@media screen and (max-width: 85rem) {
  .tasklist-page {
    height: 100vh;
    display: flex;
    // margin-left: 15%
    &_task-detail {
      .taskinfo {
        @include flexCenter(column);
        // padding: 1rem;
        &_taskpart {
          width: 50%;
          height: 80%;
          @include flexCenter(row);
          &_taskbudget {
            @include flexCenter(column);
            text-align: center;
            &_title {
              padding: 2rem;
            }
            &_cost {
              font-size: 2rem;
            }
            &_makeoffer {
              @include button(10rem, 3rem, 7rem, 0);
              margin-top: 2rem;
            }
          }
          &_share_box {
            margin-left: 6rem;
            .sharemedia {
              height: 4rem;
              width: 4rem;
            }
          }
        }
      }
    }
    .offer {
      padding: 1rem;
      width: 100%;
      height: auto;
      @include flexCenter(column);
      border-bottom: none;
      &_title {
        display: none;
      }
      &_button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 65rem) {
  .tasklist-page {
    margin-left: 1%;
    &_side-bar {
      margin: 0rem;
    }
    &_task-detail {
      overflow-y: scroll;
      .taskinfo {
        &_detail {
          &_viewmap {
            margin-left: 6rem;
          }
          &_content {
            padding-bottom: 1rem;
            color: $paragraph-color;
            font-size: 1rem;
            padding-top: 0.5rem;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 50rem) {
  .tasklist-page {
    margin: auto;
    &_task-detail {
      display: none;
    }
  }
}
