body {
  background-color: #f6f8fd;
}
.private {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  &_main {
    display: inline-block;
    background: #ffffff;
    overflow-y: auto;
    width: 800px;
    height: calc(100vh - 4rem);
    padding: 20px;
  }
}
