body {
  background-color: #f6f8fd;
}

.userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userProfile__page {
  display: inline-block;
  background: #ffffff;
  overflow-y: auto;
  width: 800px;
  height: calc(100vh - 4rem);
}
/*# sourceMappingURL=style.css.map */