.private_sidebar {
  float: left;
  background: #fdfefe;
  width: 210px;
  border-right: 1px solid #c3c9e0;
  height: calc(100vh - 4rem);
  > div {
    width: 210px;
    height: 210px;
    padding: 30px 0 10px 0;
    text-align: center;
    > img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      display: inline-block;
    }
    > div {
      line-height: 30px;
      text-align: center;
      margin-top: 5px;
      color: #545a77;
      font-weight: 500;
    }
  }
  li {
    border-bottom: 1px solid #f8fafd;
    padding-left: 15px;
    line-height: 44px;
    color: #545a77;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
  }

}

div.private_sidebar--settings {
  height: 0;
  overflow: hidden;
  transition: all 1s ease;
}
div.private_sidebar--default {
  height: 135px;
  overflow: hidden;
  transition: all 1s ease;
}
@keyframes show-effect {
  100% {
    display: inline-block;
    width: 0;
    float: left;
    height: 0;
    border: 7px solid transparent;
    margin: 19px 10px;
    border-right: 7px solid #333;
    transition: all 1s ease;
  }
}
li.private_sidebar--settings {
  color: #008fb4;
  span {
    animation: show-effect 0.2s ease forwards;
  }
}
@keyframes hide-effect {
  100% {
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin: 19px 10px;
    border-left: 7px solid #333;
    transition: all 1s ease;
  }
}
li.private_sidebar--default {
  span {
    animation: hide-effect 0.3s ease forwards;
  }
}