.sidebar {
  float: left;
  background: #fdfefe;
  width: 210px;
  border-right: 1px solid #c3c9e0;
  height: calc(100vh - 4rem);
}

.sidebar > div {
  width: 210px;
  height: 210px;
  padding: 30px 0 10px 0;
  text-align: center;
}

.sidebar > div > img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: inline-block;
}

.sidebar > div > div {
  line-height: 30px;
  text-align: center;
  margin-top: 5px;
  color: #545a77;
  font-weight: 500;
}

.sidebar li {
  border-bottom: 1px solid #f8fafd;
  padding-left: 15px;
  line-height: 44px;
  color: #545a77;
  font-weight: 500;
  cursor: pointer;
}

div.hiddenSidebar {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

div.showSidebar {
  height: 135px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@-webkit-keyframes show-effect {
  100% {
    display: inline-block;
    width: 0;
    float: left;
    height: 0;
    border: 7px solid transparent;
    margin: 19px 10px;
    border-right: 7px solid #333;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

@keyframes show-effect {
  100% {
    display: inline-block;
    width: 0;
    float: left;
    height: 0;
    border: 7px solid transparent;
    margin: 19px 10px;
    border-right: 7px solid #333;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

li.showSettings {
  color: #008fb4;
}

li.showSettings span {
  -webkit-animation: show-effect 0.2s ease forwards;
          animation: show-effect 0.2s ease forwards;
}

@-webkit-keyframes hide-effect {
  100% {
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin: 19px 10px;
    border-left: 7px solid #333;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

@keyframes hide-effect {
  100% {
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin: 19px 10px;
    border-left: 7px solid #333;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

li.hideSettings span {
  -webkit-animation: hide-effect 0.3s ease forwards;
          animation: hide-effect 0.3s ease forwards;
}
/*# sourceMappingURL=sidebar.css.map */