.home-page {
  // @import "../../styles/normalize.css";
  // @import "../../styles/reset.css";

  h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 3rem;
    @media screen and (max-width: 640px) {
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }

  //无限滚动效果
  @keyframes rolling-left {
    0% {
      left: -200rem;
    }
    100% {
      left: 200rem;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 50vw;
    min-height: 26rem;

    // background: red;
    background-image: url(/images/hero-from-sky.jpg);
    // background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

    // background-attachment: fixed;
    > div:first-child {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      width: 60%;
      padding: 2rem;
      span {
        margin-bottom: 1rem;
        font-size: 3.5rem;
        font-weight: bold;
        color: white;
        &:last-of-type {
          font-size: 2rem;
        }
        @media only screen and (max-width: 880px) {
          font-size: 2rem;
          &:last-of-type {
            font-size: 1.5rem;
          }
        }
      }
    }

    @media only screen and (max-width: 788px) {
    }
  }

  .recently-completed-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .tasks-roll {
      display: flex;
      width: 100%;
      height: 10rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      // background: black;
      .roll {
        // z-index: -1;
        display: flex;
        align-items: center;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: rolling-left;
        position: absolute;
      }
      .roll1 {
        // background: rgba(78, 109, 160, 0.705);
        animation-delay: -50s;
      }
      // .roll2 {
      // background: rgba(160, 78, 119, 0.705);
      // }
      &:hover {
        cursor: unset;
        .roll {
          animation-play-state: paused;
        }
      }
    }
  }

  .top-workers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
  }
}
