.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-page h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 3rem;
}

@media screen and (max-width: 640px) {
  .home-page h1 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

@-webkit-keyframes rolling-left {
  0% {
    left: -200rem;
  }
  100% {
    left: 200rem;
  }
}

@keyframes rolling-left {
  0% {
    left: -200rem;
  }
  100% {
    left: 200rem;
  }
}

.home-page > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vw;
  min-height: 26rem;
  background-image: url(./heroImage.jpg);
  background-position-x: center;
  background-size: cover;
}

.home-page > div:first-child > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding: 2rem;
}

.home-page > div:first-child > div:first-child span {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
}

.home-page > div:first-child > div:first-child span:last-of-type {
  font-size: 2rem;
}

@media only screen and (max-width: 880px) {
  .home-page > div:first-child > div:first-child span {
    font-size: 2rem;
  }
  .home-page > div:first-child > div:first-child span:last-of-type {
    font-size: 1.5rem;
  }
}

.home-page .recently-completed-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.home-page .recently-completed-tasks .tasks-roll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 18rem;
  overflow: hidden;
  position: relative;
}

.home-page .recently-completed-tasks .tasks-roll .roll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rolling-left;
          animation-name: rolling-left;
  position: absolute;
}

.home-page .recently-completed-tasks .tasks-roll .roll1 {
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
}

.home-page .recently-completed-tasks .tasks-roll:hover .roll {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.home-page .top-workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
}
/*# sourceMappingURL=homePage.css.map */