@import "../../common/commonStylesheet.scss";

.my-task {
  flex-shrink: 0;
  width: 19rem;
  margin: 0.5rem; //animation total width 20rem
  cursor: pointer;

  padding: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
  // box-shadow: 0px 0px 5px grey;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  background: white;
  border-radius: 4px;

  &:hover {
    // border: 1px $color-blue_hover solid;
    box-shadow: $color-blue 0px 0px 5px;
  }
  // > div {
  //   display: flex;
  //   margin-bottom: 0.5rem;
  // }

  &_body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px rgba(141, 144, 145, 0.082) solid;
    border-bottom: 1px rgba(141, 144, 145, 0.082) solid;
    height: 5rem;
  }

  &_category {
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-bottom: 0.25rem;
  }

  &_avatar {
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }

  &_title {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &_price {
    font-size: 1.5rem;
  }
  &_location {
    padding-top: 0.25rem;
  }
}

// .fade-effect {
//   opacity: 1;
//   transform: matrix(1, 0, 0, 1, 0, 0);
// }
