.my-task {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 19rem;
  margin: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  background: white;
  border-radius: 4px;
}

.my-task_body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px rgba(141, 144, 145, 0.082) solid;
  border-bottom: 1px rgba(141, 144, 145, 0.082) solid;
  height: 5rem;
}

.my-task_category {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}

.my-task_avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.my-task_title {
  padding-right: 1rem;
  padding-left: 1rem;
}

.my-task_price {
  font-size: 1.5rem;
}

.my-task_location {
  padding-top: 0.25rem;
}

.fade-effect {
  opacity: 1;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}
/*# sourceMappingURL=Task.css.map */