.card_worklist {
  width: 19rem;
  height: 27rem;
  // border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0.125rem 0.5rem;
  margin: 1rem;
  // overflow:scroll;
  // padding: 1rem;
  padding-top: 0.5rem;

  .card_worklist_up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 19rem;
    height: 6.5rem;
    border-bottom: 1px solid #bcc2da;

    img {
      width: 5rem;
      height: 5rem;
      margin-left: 0.7rem;
      border-radius: 50%;
    }

    ul {
      padding-inline-start: 0rem;
      list-style-type: none;
    }

    li {
      padding: 0.1rem;
    }

    .name {
      margin-left: 1rem;
      font-size: 1.2rem;
    }

    .location {
      margin-left: 1rem;
      color: #60647e;
    }

    .feedback {
      margin-left: 1rem;
      margin-top: 0.3rem;
      font-size: 0.9rem;
    }
  }
  h3 {
    // font-size: 1rem;
    color: rgb(187, 194, 220);
    margin-top: 1rem;
    margin-left: 0.7rem;
  }

  p {
    margin-left: 0.7rem;
    line-height: 1.7rem;
    height: 10rem;
    overflow: hidden;
    color: #555a75;
  }

  .badges {
    max-width: 4.5rem;
    height: auto;
    padding: 1rem;
    // border:1px solid red
  }

  button {
    width: 15rem;
    height: 2rem;
    margin-left: 1.3rem;
    border-radius: 1rem;
    background: #f6f8fd;
    font-size: 1rem;
    color: #3c8db0;
    margin-bottom: 1rem;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    // position: absolute;
  }
}
