.pwd-input {
    margin: 0;
}

.pwd-levelBars {    
    display: flex;
    align-items: center;    
    width: 99%;
    margin: auto;
}

.pwd-levelBar {
    height: 0.6em;
    width: calc( (100%-52px)/3 );
}

.pwd-levelBar::before{
    content: '';
}

.pwd-levelCap {    
    padding-left: 10px;
    text-align: end;
    width: 52px;    
}