.pop-up-form {
  font-family: museo_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #545a77;
  background-color: #f6f8fd;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

.pop-up-form .cover {
  position: fixed;
  background: #545a777e;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1003;
}

.pop-up-form .container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: white;
  -webkit-animation: 0.4s ease 0s 1 normal none running eoOKuu;
          animation: 0.4s ease 0s 1 normal none running eoOKuu;
}

.pop-up-form .header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 60px;
  position: relative;
  padding: 0px 16px;
  border-bottom: 1px solid #f6f8fd;
}

.pop-up-form .header_title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #292b32;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 32px;
  overflow: hidden;
}

.pop-up-form .close_logo {
  position: absolute;
  cursor: pointer;
  right: 16px;
  width: 24px;
  height: 24px;
  fill: #545a77;
}

.pop-up-form main {
  color: #292b32;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden auto;
  padding: 10px 20px;
}

.pop-up-form .signup_form {
  width: 330px;
  margin: auto;
}

.pop-up-form form {
  width: 100%;
  display: block;
  margin-top: 0em;
}

.pop-up-form .formfield_wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0px;
  padding: 0px 0px 16px;
}

.pop-up-form .label_email {
  text-align: left;
  display: block;
  color: #292b32;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  max-width: 100%;
  padding: 0px 0px 8px;
}

.pop-up-form input,
.pop-up-form textarea {
  font-size: 14px;
  font-family: museo_sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  border: 1px solid #bbc2dc;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(192, 192, 192, 0.5);
          box-shadow: inset 0 1px 2px 0 rgba(192, 192, 192, 0.5);
  border-radius: 4px;
  min-height: 40px;
  padding: 14px 12px;
  -webkit-animation: shadowFadeIn 0.125s ease-in-out;
          animation: shadowFadeIn 0.125s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pop-up-form .input_email {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: #292b32;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  min-height: 40px;
  -webkit-animation: 0s ease 0s 1 normal none running none;
          animation: 0s ease 0s 1 normal none running none;
  outline: none;
  padding: 12px;
  border-radius: 4px;
}

.pop-up-form .error_tip {
  color: red;  
}

.pop-up-form .red_box {
  border-color: red;
}

.pop-up-form .botton_join {
  border: none;
  border-image-source: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 100%;
  background-color: #7db343;
  border-radius: 160px;
  margin: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  padding: 8px 16px;
}

.pop-up-form .separator {
  text-align: center;
  position: relative;
  color: #545a77;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin: 16px 0px;
  display: block;
}

.pop-up-form .separator::before,
.pop-up-form .separator::after {
  top: 50%;
  content: "";
  position: absolute;
  width: 30%;
  border-width: 1px 0px 0px;
  border-top: 1px solid #bbc2dc;
}

.pop-up-form .separator::before {
  left: 0px;
}

.pop-up-form .separator::after {
  right: 0px;
}

.pop-up-form .box-social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border-width: 0px;
  border-color: #292b32;
}

.pop-up-form .facebook_button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1877f2;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 100%;
  border-radius: 160px;
  margin: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  padding: 8px 16px;
}

.pop-up-form .facebook_button_icon {
  height: 25px;
  width: 25px;
  color: white;
  margin-right: 8px;
  display: block;
}

.pop-up-form .facebook_button_icon svg {
  fill: white;
}

.pop-up-form .box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0px 8px 0px 0px;
  padding: 0px;
  border-color: #292b32;
}

.pop-up-form .google_button {
  left: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: #292b32;
  border-color: #e7ebfb;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 100%;
  border-radius: 160px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
  padding: 8px 16px;
}

.pop-up-form .google_button_icon {
  height: 25px;
  width: 25px;
  color: #292b32;
  margin-right: 8px;
  display: block;
}

.pop-up-form p.text {
  color: #292b32;
  text-align: left;
}

.pop-up-form .footer {
  color: #292b32;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 100%;
  margin: 4px auto 0px;
  padding: 12px 0px 16px;
  border-top: 1px solid #bbc2dc;
  text-align: left;
}

.pop-up-form .button_login {
  float: right;
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #008fb4;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.pop-up-form .button_forget {
  float: right;
  border: none;
  margin: 0;
  padding: 0, 0, 20px, 0;
  background-color: rgba(0, 0, 0, 0);
  color: #008fb4;
  font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .pop-up-form .container {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 500px;
    height: auto;
    max-height: 90%;
    width: auto;
    border-radius: 5px;
    -webkit-animation: 0.4s ease 0s 1 normal none running eAJKHT;
            animation: 0.4s ease 0s 1 normal none running eAJKHT;
  }
}
/*# sourceMappingURL=Signup.css.map */