.pop-up-form {
  font-family: museo_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;

  color: #545a77;
  background-color: #f6f8fd;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;

  .cover {
    position: fixed;
    background: #545a777e;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1003;
  }

  .container {
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgb(255, 255, 255);
    animation: 0.4s ease 0s 1 normal none running eoOKuu;
  }

  .header_wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-height: 60px;
    position: relative;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(246, 248, 253);
  }

  .header_title {
    flex-grow: 1;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 32px;
    overflow: hidden;
  }

  .close_logo {
    position: absolute;
    cursor: pointer;
    right: 16px;
    width: 24px;
    height: 24px;
    fill: rgb(84, 90, 119);
  }

  main {
    color: rgb(41, 43, 50);
    flex-grow: 1;
    overflow: hidden auto;
    padding: 10px 20px;
  }

  .signup-form {
    width: 330px;
    margin: auto;
  }

  form {
    width: 100%;
    display: block;
    margin-top: 0em;
  }

  .input-item {
    flex-shrink: 0;
    margin: 0px;
    padding: 0px 0px 16px;
  }

  .label__email {
    text-align: left;
    display: block;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    max-width: 100%;
    padding: 0px 0px 8px;
  }

  input,
  textarea {
    font-size: 14px;
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    border: 1px solid #bbc2dc;
    background: #fff;
    box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, 0.5);
    border-radius: 4px;
    min-height: 40px;
    padding: 14px 12px;
    animation: shadowFadeIn 0.125s ease-in-out;
    box-sizing: border-box;
    appearance: none;
  }

  .input-email {
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    min-height: 40px;
    animation: 0s ease 0s 1 normal none running none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
  }

  .error-tip {
    color: red;
  }

  .red-box {
    border-color: red;
  }

  .blue-font {
    color: darkblue;
  }

  .botton_join {
    border: none;
    border-image-source: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 100%;
    background-color: rgb(125, 179, 67);
    border-radius: 160px;
    margin: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
  }

  .separator {
    text-align: center;
    position: relative;
    color: rgb(84, 90, 119);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 16px 0px;
    display: block;
  }

  .separator::before,
  .separator::after {
    top: 50%;
    content: "";
    position: absolute;
    width: 30%;
    border-width: 1px 0px 0px;
    border-top: 1px solid rgb(187, 194, 220);
  }

  .separator::before {
    left: 0px;
  }

  .separator::after {
    right: 0px;
  }

  .box-social-buttons {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-color: rgb(41, 43, 50);
  }

  .facebook_button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 119, 242);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 100%;
    border-radius: 160px;
    margin: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
  }

  .facebook_button_icon {
    height: 25px;
    width: 25px;
    color: rgb(255, 255, 255);
    margin-right: 8px;
    display: block;
  }

  .facebook_button_icon svg {
    fill: rgb(255, 255, 255);
  }

  .box {
    box-sizing: border-box;
    display: block;
    margin: 0px 8px 0px 0px;
    padding: 0px;
    border-color: rgb(41, 43, 50);
  }

  .google_button {
    left: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(41, 43, 50);
    border-color: rgb(231, 235, 251);

    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 100%;
    border-radius: 160px;
    margin: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
  }

  .google_button_icon {
    height: 25px;
    width: 25px;
    color: rgb(41, 43, 50);
    margin-right: 8px;
    display: block;
  }

  p.text {
    color: #292b32;
    text-align: left;
  }

  .footer {
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 100%;
    margin: 4px auto 0px;
    padding: 12px 0px 16px;
    border-top: 1px solid rgb(187, 194, 220);
    text-align: left;
  }

  .button_login {
    float: right;
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 143, 180);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  .button_forget {
    float: right;
    border: none;
    margin: 0;
    padding: 0, 0, 20px, 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 143, 180);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
      max-width: 500px;
      height: auto;
      max-height: 90%;
      width: auto;
      border-radius: 5px;
    }
  }
}
