@import url(/Users/wangtong/master/src/styles/normalize.css);
@import url(/Users/wangtong/master/src/styles/reset.css);
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  color: #008fb4;
}

a:focus {
  background: none;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .marginFromNavBar {
  margin-top: 4rem;
}

.app footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4e4c4c;
  margin-top: 4rem;
  padding: 1.5rem;
}

.app footer p {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #8697a5;
}
/*# sourceMappingURL=App.css.map */