@import "./normalize.css";
@import "./reset.css";
@import "../common/commonStylesheet.scss";
// ==================放一些global的style==============
ul {
  //去除li的点
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;

  &.active {
    color: $color-blue;
  }
  &:focus {
    background: none;
  }
}

.app {
  display: flex;
  flex-direction: column;

  .marginFromNavBar {
    margin-top: 4rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-dark-grey;
    margin-top: 4rem;
    // justify-content: center;
    padding: 1.5rem;
    p {
      font-size: 0.8rem;
      margin-top: 0;
      margin-bottom: 0;
      color: $color-light-grey;
    }
  }
}
