@import "../../common/variables";
.maincard {
  width: 64rem;
  height: 40rem;
  @include keepCenter();
  margin-top: 5rem;
  box-shadow: $box-shadow;
  border-radius: 1rem;
  &_top {
    height: 12.5rem;
    // border:1px solid black;
    border-radius: 1rem;
    background-color: #e9edf2;
    img {
      margin-top: 7rem;
      margin-left: 2rem;
      font-size: 1rem;
      @include img(8rem, 8rem);
    }
    // button{
    // position: absolute;
    // font-size: 1rem;
    // width: 10rem;
    // height:2.5rem;
    // border-radius: 1rem;
    // background:#88b250;
    // color: white;
    // margin-left:40rem;
    // margin-top:9rem
    // }
  }
  &_user-detail{
    ul {
      position: absolute;
      margin-top: 4rem;
      margin-left: 2rem;
      list-style: none;
      color: $paragraph-color;
      span {
        color: black;
        font-size: 1.2rem;
      }
      li:first-child {
        font-size: 1.5rem;
      }
      li {
        margin-bottom: 0.7rem;
      }
    }
  }
  &_payment{
    position: absolute;
    margin-top: 15rem;
    margin-left: 2rem;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p{
      color: $paragraph-color;
    }
    &_img{
      padding-top: 1rem;
      font-size: 2rem;
      color: #3f90b3;
    }
}
  &_reviews {
    // position: absolute;
    margin-left: 21rem;
    margin-top: 2rem;
    width: 40rem;
    height: 25rem;
    // border:1px solid black;
    padding-left: 2rem;
    li{
      margin-bottom: 0.5rem;
      
    }
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
      color: $paragraph-color;
    }

    button {
      @include button(7rem, 2.5rem, 0, 0);
      color: $button-color-publicprofile;
      appearance: none;
      background: transparent;
    }

    // &_reviews {
    //   width: 40rem;
    //   > p {
    //     padding-top: 0.5rem;
    //     color: $paragraph-color;
    //     li {
    //       margin-bottom: 1rem;
    //       list-style: none;
    //     }
    //   }
    // }
  }
}

@media screen and (max-width: 64rem){
  .maincard {
    width: 54rem;
    &_reviews {
      width: 30rem;
    }
  }
}

@media screen and (max-width: 50rem){
  .maincard {
    width: 45rem;
    &_reviews {
      width: 20rem;
    }
  }
}

@media screen and (max-width: 40rem){
  .maincard {
    width: 30rem;
    height: 65rem;
    &_reviews {
      margin-left: 0rem;
      margin-top: 25rem;
      // border:1px solid black;
      padding-left: 2rem;
      li{
        margin-bottom: 0.5rem;
        list-style: none;
      }
      h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
  
      p {
        margin-bottom: 1rem;
        color: $paragraph-color;
      }
  
      button {
        @include button(7rem, 2.5rem, 0, 0);
        color: $button-color-publicprofile;
        appearance: none;
        background: transparent;
      }
    }
  }
}