@import "../../common/variables";

.worklist {
  padding: 5rem;

  &_page {
    @include flexCenter(row);
    justify-content: center;
    padding-bottom: 1rem;
  }

  link {
    cursor: wait;
  }

  h2 {
    font-size: 2rem;
    margin-left: 6.5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  &_howitworks {
    @include flexCenter(row);
    justify-content: center;

    &_post-task {
      width: 20rem;
      height: 20rem;
      margin: 3rem;
      // border: 1px solid black;
      text-align: center;

      img {
        @include img(15rem, 15rem);
        padding: 0.5rem;
      }

      + p {
        margin-bottom: 1rem;
      }
      &_p {
        color: $paragraph-color;
      }
    }
    &_statis {
      padding: 2rem;
      width: 17.5rem;
      height: 10.5rem;
      text-align: center;
      margin: 2rem;
      // border: 1px solid black;
      background: white;

      &_num {
        font-size: 3rem;
        margin: auto;
        margin-bottom: 2rem;
      }
      p {
        color: $paragraph-color;
      }
    }
  }

  &_why-keepper {
    @include flexCenter(row);
    justify-content: center;

    &_inside {
      margin: 3rem;
      padding: 0rem 1rem;
      width: 17rem;
      height: 15rem;

      img {
        width: 15rem;
        height: 13rem;
        // @include img(10rem,10rem);
      }

      p {
        color: $paragraph-color;
      }
    }
  }

  .recent_task {
    @include flexCenter(row);
    justify-content: center;

    // &_card {
    //   width: 24rem;
    //   height: 13rem;
    //   margin: 2rem;
    //   padding: 0 0.5rem;
    //   @include flexCenter(row);
    //   // border: 1px solid black;
    //   box-shadow: rgba(0, 0, 0, 0.08) 0px 0.125rem 0.5rem;
    //   overflow: "scroll";

    // h3 {
    //   margin-top: 2rem;
    //   margin-right: 3rem;
    //   margin-block-end: 0rem;
    // }

    // h4 {
    //   font-size: 1.3rem;
    //   // position: absolute;
    //   margin-left: 20rem;
    //   margin-block-start: 0rem;
    //   margin-block-end: 0rem;
    // }
    // }
  }
}

@media screen and(max-width: 40rem){
  .worklist {
    h2{
      margin-left: 1rem;
    }
  }
}
