.categories {
  width: 100%;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break;
    margin: 0.4rem;
    padding: 0.4rem;
    color: white;
    height: 8rem;
    width: 8rem;

    border-radius: 50%;
    background: rgba(36, 56, 88, 0.705);
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background: rgb(233, 67, 108);
      box-shadow: 0px 0px 10px rgb(255, 145, 0);
    }
    &.active {
      background: rgb(233, 67, 108);
      box-shadow: 0px 0px 10px rgb(255, 145, 0);
    }
    @media screen and (max-width: 640px) {
      height: 5rem;
      width: 5rem;
    }
  }
}
