@import "../../commonStylesheet.scss";

.Modal {
  &-cover {
    background-color: $color-black-transparant;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    @include animation-emerge-from-top;

    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 10px;

    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    height: fit-content;
    max-height: 90%;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
      h1 {
        margin: 0 40px;
        font-size: 1rem;
      }

      .exit-button {
        position: absolute;
        right: 20px;
        transition: 0.3s;
        background-color: $color-light-grey;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background-color: $color-blue;
        }
      }
    }
  }

  @media (max-width: 700px) {
    &-content {
      width: 100vw;
      height: 100vh;
      max-height: 100%;
    }
  }
}
