@import "../../../../common/variables";

.workcard {
  width: 19rem;
  height: 27rem;
  // border: 1px solid black;
  box-shadow: $box-shadow;
  margin: 1rem;
  padding-top: 0.5rem;

  &_up {
    @include flexCenter(column);
    width: 19rem;
    height: 6.5rem;
    border-bottom: 1px solid $border-bottom-color;
    overflow: hidden;

    > img {
      @include img(5rem, 5rem);
      margin-left: 0.3rem;
    }

    ul {
      padding-inline-start: 0rem;
      list-style-type: none;
      margin-left: 0.5rem;
      margin-top: 0.5rem;
      li{
        padding-right: 0.3rem;
      }
      li:first-child {
        font-size: 1.2rem;
      }
      &_location {
        color: $paragraph-color;
      }
      li:last-child {
        margin-top: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
  h3 {
    // font-size: 1rem;
    color: $header-color;
    margin-top: 1rem;
    margin-left: 0.7rem;
  }

  p {
    margin-left: 0.7rem;
    line-height: 1.7rem;
    height: 10rem;
    overflow: scroll;
    color: $paragraph-color;
  }

  &_image {
    max-width: 4.5rem;
    height: auto;
    padding: 1rem;

    // border:1px solid red
  }
  &_image + &_mobile {
    display: none;
    position: absolute;
    // z-index: 999;
    margin-top: 4rem;
    margin-left: -3rem;
  }
  &_image:hover + &_mobile {
    display: initial;
  }
}
