.workcard {
  width: 19rem;
  height: 27rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.125rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.125rem 0.5rem;
  margin: 1rem;
  padding-top: 0.5rem;
}

.workcard__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 19rem;
  height: 6.5rem;
  border-bottom: 1px solid #bcc2da;
}

.workcard__up > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: 0.7rem;
}

.workcard__up ul {
  -webkit-padding-start: 0rem;
          padding-inline-start: 0rem;
  list-style-type: none;
  padding: 0.3rem;
  margin-left: 1rem;
}

.workcard__up ul li:first-child {
  font-size: 1.2rem;
}

.workcard__up ul__location {
  color: #60647e;
}

.workcard__up ul li:last-child {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.workcard h3 {
  color: #bbc2dc;
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.workcard p {
  margin-left: 0.7rem;
  line-height: 1.7rem;
  height: 10rem;
  overflow: hidden;
  color: #60647e;
}

.workcard__image {
  max-width: 4.5rem;
  height: auto;
  padding: 1rem;
}

.workcard__image + .workcard__mobile {
  display: none;
  position: absolute;
  margin-top: 4rem;
  margin-left: -3rem;
}

.workcard__image:hover + .workcard__mobile {
  display: initial;
}
/*# sourceMappingURL=worker-card.css.map */