@import "../../commonStylesheet.scss";
.navigation-bar {
  z-index: 1;
  width: 100%;
  position: fixed;
  display: flex;
  // background: rgb(255, 255, 255);

  box-shadow: 0px 0px 5px grey;

  .avatar {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 100%;
  }
  .logo {
    width: 10rem;
    height: 3rem;
  }
  li:not(.logo-link) {
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      a {
        transition: all 0.2s;
        color: $color-blue;
      }
    }
  }
  .post-button {
    color: $color-white;
    font-size: 0.95rem;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px rgba(223, 213, 213, 0.904) solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: $color-red;
  }
  .user-button {
    display: flex;
    align-items: center;
  }
  //-------上面的是navbar不会变的样式-----------
  //这是宽屏style
  .top-bar {
    transition: 1s;
    background-color: $color-white;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: stretch;
  }

  //mobile
  @media screen and (max-width: 682px) {
    .top-bar {
      display: none;
    }
    .mini-bar {
      display: flex;
      flex: 1;
      flex-direction: column;
      > ul {
        &:first-of-type {
          background: $color-white;
        }
        display: flex;
        align-items: stretch;

        li {
          display: flex;
          align-items: center;
        }
        .logo-container {
          flex: 4;
        }
        .user-button {
          margin-right: 1rem;
        }
        .drop-button-area {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: stretch;

          .drop-button {
            // background-color: transparent;
            border: 1px rgba(128, 128, 128, 0.082) solid;
            appearance: none;
            width: 100%;
            cursor: pointer;
          }
        }
      }
      .dropdown-content {
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        max-height: 100rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid gray;
        li {
          background-color: rgba(255, 255, 255, 0.97);
          padding-top: 1rem;
          padding-bottom: 1rem;

          display: flex;
          justify-content: center;
          width: 100%;
          border-bottom: 1px solid gray;
        }
        &::after {
          content: "";
          width: 100vw;
          height: 100vh;
          background-color: $color-black-transparant;
        }
      }
      .display-none {
        // display: none;
        &.dropdown-content {
          max-height: 0px;
        }
      }
    }
  }
  //wide screen
  @media all and (min-width: 683px) {
    &.transparent {
      .top-bar {
        background-color: transparent;
      }
      box-shadow: none;

      a:not(.post-button) {
        color: $color-white;
      }

      // .drop-button-area {
      //   .drop-button {
      //     // background-color: rgba(81, 83, 81, 0.637);
      //     border: none;
      //     color: white;
      //   }
      // }
    }
    .mini-bar {
      display: none;
    }
    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        margin-right: 0.6rem;
        @media all and (min-width: 835px) {
          margin-right: 3rem;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      li {
        margin-left: 1rem;
      }
    }
  }
}
