@import "../../variables";
@import "../../commonStylesheet.scss";

textarea {
  border: 1px solid rgb(212, 212, 212);
  // width: 100%;
}
.firstpage {
  display: flex;
  flex-direction: column;
  height: 22rem;
  // border: 1px solid black;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    color: $header-color;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  p {
    align-self: flex-start;
    margin-block-end: 0.5em;
    margin-bottom: 1rem;
  }

  select {
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    appearance: none;
    -moz-appearance: none;
    outline: none;
    -webkit-appearance: none;
    background: transparent;
    padding-left: 1rem;
  }
  .navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    .button {
      align-self: flex-end;
      width: 90%;
    }
  }
}

.secondpage {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;

  @include flexCenter(column);
  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px;

    input {
      margin-bottom: 1rem;
    }
  }

  p {
    margin-bottom: 0.5rem;
  }

  label {
    font-size: 0.9rem;
    color: $paragraph-color;
  }
}

.thirdpage {
  flex-direction: column;
  background-color: $background-color;

  padding: 1rem;
  height: 25rem;
  justify-content: center;
  // border: 1px solid black;

  input {
    margin-bottom: 1rem;
  }

  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  &_date {
    height: 2rem;
  }

  input:last-child {
    height: 2rem;
  }

  label {
    font-size: 0.9rem;
    color: $paragraph-color;
  }

  input[type="checkbox"] {
    margin-left: 10px;
  }
}

.navigations {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  button {
    margin-top: 1rem;
    @include button(10rem, 2.5rem, 0rem, 1rem);
    background-color: $color-green;
    flex-grow: 0;
  }
  .post-button {
    background-color: $color-red;
  }
}

// @media screen and (max-width: 43rem) {
//   .post-task {
//     .post-task-content {
//       padding: 1rem;
//       // justify-content: center;
//       .firstpage {
//         &_requirecard {
//           h3 {
//             font-size: 1.3rem;
//             margin-left: -4rem;
//           }
//           p {
//             padding-right: 3rem;
//           }
//           select {
//             width: 29rem;
//             margin-left: -0.5rem;
//           }
//           button {
//             @include button(25rem, 2.5rem, 0rem, 1rem);
//             background-color: $color-green;
//             margin-left: -1.5rem;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 22rem) {
//   .post-task {
//     .post-task-content {
//       padding: 1rem;
//       // justify-content: center;
//       .firstpage {
//         &_requirecard {
//           h3 {
//             font-size: 1.3rem;
//             margin-left: -4rem;
//           }
//           p {
//             padding-right: 3rem;
//           }
//           select {
//             margin-left: -0.5rem;
//           }
//           button {
//             @include button(25rem, 2.5rem, 0rem, 1rem);
//             background-color: $color-green;
//             margin-left: -1.5rem;
//           }
//         }
//       }
//     }
//   }
// }
