.private_main_dashboard{
    &_header{
        padding: 20px;
        border-bottom: 1px solid #f6f8fd;
        >h4{
            color: #292b32;
            font-size:19px;
            font-weight: 500;
            margin: 0px;
        }

    }
    &_body{
        >h5:first-child{
            padding-top: 20px;
            font-size: 1.5rem;
        }
        >p{
            color: rgb(84, 90, 119);
            padding: 20px 0;
        }
    }
}