.private_main_password{
    &_header{
        padding: 20px;
        border-bottom: 1px solid #f6f8fd;
        >h4{
            color: #292b32;
            font-size:19px;
            font-weight: 500;
            margin: 0px;
        }
    }
    form{
        padding: 20px;
        h5{
            font-weight: 500;
            color: #545a77;
        }
        label{
            font-weight: 500;
            color: #545a77;
            font-size: 14px;
        }
        input{
            width: 300px;
            height: 40px;
            border: 1px solid #bbc2dc;
            border-radius: 3px;
            margin-top: 5px;
            padding: 0 4px;
            font: 400 13.3333px Arial;
        }
        button{
            padding: 6px 16px;
            letter-spacing: .25px;
            border-radius: 200px;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            box-sizing: border-box;
            font-weight: 500;
            height: 40px;
            margin: 8px 0;
            border: 2px solid #74a541;
            background-color: #7db343;
            color: #fafeff;
        }
    }
}