@import "../../../common/commonStylesheet.scss";

.search-bar {
  position: fixed;
  display: flex;
  width: 100vw;
  background: white;
  height: 3rem;
  // border: 1px solid black;
  margin-top: 3rem;
  justify-content: center;
  box-shadow: 0px 0px 5px grey;

  > div {
    width: 70vw;
    display: flex;
    justify-content: space-between;
  }

  &_filters {
    // border: 1px solid red;
    display: flex;
    > * {
      align-self: center;
    }

    select {
      background: none;
      appearance: none;
      border-color: transparent;
      font-size: 1rem;
    }
    .search-text {
      border: 1px rgba(223, 213, 213, 0.904) solid;

      overflow: hidden;
      text-overflow: ellipsis;
      // text-indent: 12px;
      color: $color-dark-grey;
      &:hover {
        cursor: text;
      }
    }
  }
  .user-buttons {
    display: flex;
  }

  button {
    background: none;
    border: none;
    font-size: 1rem;
  }

  .search-bar-button {
    color: $color-blue;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    height: 2rem;
    align-self: center;
    padding: 0 16px 0 16px;
    margin: 1rem;
    &:hover {
      cursor: pointer;
      background-color: #f6f8fd;
    }
    &:active {
      background-color: #cdd8f4;
    }
    &:focus {
      outline: none;
      background-color: #f6f8fd;
    }
  }
}
