$border-bottom-color: #bcc2da;
$paragraph-color: #60647e;
$header-color: #bbc2dc;
$button-background: #f6f8fd;
$button-color: white;
$button-color-publicprofile: black;
$button-background: #d04f6d;
$background-color: white;
$box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.125rem 0.5rem;
$border-left: 0.2rem solid rgb(136, 178, 80);
$border-bottom: 2px solid rgb(119, 176, 201);
$namecolor: rgb(119, 176, 201);

@mixin flexCenter($direction) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin button($width, $height, $margin-left, $margin-bottom) {
  width: $width;
  height: $height;
  margin-left: $margin-left;
  margin-bottom: $margin-bottom;
  border-radius: 1rem;
  background: $button-background;
  font-size: 1rem;
  color: $button-color;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: none;
}

@mixin closeButton() {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 37rem;
  background: #f6f8fd;
  font-size: 1rem;
  color: black;
  outline: none;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
}

@mixin img($width, $heigth) {
  width: $width;
  height: $heigth;
  border-radius: 50%;
}

@mixin keepCenter() {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
